* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

.bold {font-weight: 600;}

.thin {font-weight: 200;}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
    padding: 15px;
    border: 1px solid red;
}

/* Navigation bar */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    border: 2px solid;
    color: white;
    
    height: 80px;
    padding: 0 20px;
    position: absolute;            /*memberikan ruang tersendiri dari flow default website*/
    left: 0;
    right: 0;
}

.nav-bar > .logo {
    max-height: 100%;
    margin-right: auto;
}

.nav-bar > div {
    margin-right: 20px;
    display: flex;
}

#home-btn, #package-btn, #callus-btn {
    border: 2px solid;
    padding: 8px 12px;
}


/* Title Banner */
.title-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    color: white;

    padding-top: 10vh;          /*memberikan h1 dan p ruang atas*/
    padding-inline: 40px;
    min-height: 400px;
    height: 50vw;
    max-height: 500px;

    background-image: linear-gradient(rgba(0, 0, 0, 0.5) -10%,
    rgba(0, 0, 0, 0)), url("https://images.pexels.com/photos/1518723/pexels-photo-1518723.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.title-banner > h1 {
    margin: 5px;
    font-size: 40px;
}

/* Testimony Section */
.testimony-sect {
    padding: 5vh;
}

.testimony-img {
    border: 2px solid;
    border-radius: 7px;

    aspect-ratio: 3 / 2;
    width: 100%;

    background-image: url("https://images.pexels.com/photos/725255/pexels-photo-725255.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
}

.testimony-comment {
    border: 2px solid;

    padding-inline: 10%;
    width: 100%;

    font-style: italic;
    color: #6c757a;
    text-align: center;
}

.testimony-info {
    border: 2px solid;
    display: flex;
    align-items: center;
    padding: 3vh 5vw 3vh 1vw;
}

.testimony-info > .profile-icon {
    border: 2px solid;
    border-radius: 50%;

    width: 20%;
    min-width: 30px;
    max-width: 100px;
    aspect-ratio: 1;

    background-image: url(https://www.svgrepo.com/show/508699/landscape-placeholder.svg);
    background-size: cover;
}

.testimony-info > .profile-txt {
    border: 2px solid;
    width: 100%;
    min-height: 30px;
    max-height: 100px;
    margin-left: 2vw;
}

.profile-txt > p {
    margin: 1% 0;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
    .nav-bar > div {
        display: none;
    }
    .profile-txt {font-size: 3.7vw;}
}

@media only screen and (min-width: 600px) {
    /* For desktop: alt(768px) */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    .cover-img {width: 110vw;}

    .testimony-comment {font-size: 1.3rem;}
    .profile-txt {font-size: 3vh;}
}